@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 20rem;

  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(0.75 / 0.625);
  --text-3xs: 0.5rem;
  --text-3xs--line-height: calc(0.625 / 0.5);
}

body {
  font-family: "Montserrat Variable", sans-serif;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100vh;
  margin: 0;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
